
@{
    ViewBag.Title = "Spview";
}



<div class="row" style="margin-top:0px">
    
    <div class="col-md-6">
        <div style="padding-left:50px;">

            <h2>Introduction</h2>
            <p>
               This is a simple SignalR chat Application using AngularJs for backend
            </p>
            <h2>LIVE CHAT FOR YOUR WEBSITE</h2>
            <p>
               This app is free and easy to use among users.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/pictures/chatapp.jpg" width="500" height="300" />

    </div>
</div>
<div class="col-md-12 " style="padding-left:50px;">
    <h2> Connect to new people</h2>
    <p>


        Easy way to have a good chat
    </p>

</div>




